.wrapper {
  display: grid;
  row-gap: 1rem;
  place-items: center;
  justify-items: start;
  padding: 1rem 0.5rem 2rem;
}

.icon {
  width: 10px;
  aspect-ratio: 1;
}

.list {
  display: inline-flex;
  flex-wrap: wrap;
  gap: 0.75em;
  padding-inline: 0.25em;
  font-size: 1rem;
}

.link {
  font-weight: 400;
  color: inherit;
  text-decoration-color: color-mix(in srgb, var(--c-text-3), var(--c-background) 40%);
  text-decoration-skip-ink: none;

  @include hover {
    text-decoration: underline;
    text-decoration-color: var(--c-text-1);
  }
}
