{
  "plugins": ["prettier-plugin-astro"],
  "overrides": [
    {
      "files": "**/*.{astro,md,mdx,ts,js,cjs,jsx,css,scss}",
      "options": { "parser": "astro" }
    }
  ],
  "printWidth": 90,
  "tabWidth": 2,
  "semi": false,
  "singleQuote": true,
  "trailingComma": "all"
}
