---
import BlogList from '@/components/blog-list/index.astro'
import Breadcrumbs from '@/components/breadcrumbs/index.astro'
import Container from '@/components/container/index.astro'
import { BLOG_PAGE_LIMIT } from '@/consts'
import BaseLayout from '@/layouts/base-layout/index.astro'
---

<BaseLayout
  title="Blog"
  description="Tech blog page"
>
  <Container>
    <Breadcrumbs />
    <section>
      <BlogList limit={BLOG_PAGE_LIMIT} />
    </section>
  </Container>
</BaseLayout>

<style lang="scss">
  .list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 24px;
  }

  .post-link {
    display: grid;
    gap: 6px;
    text-decoration: none;
  }

  .image {
    width: min(100%, 280px);
    aspect-ratio: 4 / 2.5;
    object-fit: cover;
    border-radius: var(--rounded-sm);
  }

  .title {
    margin-top: 6px;
    font-size: 0.875rem;
    color: var(--c-text-1);
  }

  .date {
    font-size: 12px;
    color: var(--c-text-3);
  }

  .tag-list {
    display: flex;
    gap: 6px;
    align-items: center;
    margin-top: 2px;
  }

  .tag {
    display: flex;
    gap: 0.1em;
    align-items: center;
    padding: 0.1em 1.4em;
    font-size: 0.75rem;
    color: var(--c-text-3);
    background: transparent;
    border: 0.1em solid var(--c-border);
    border-radius: var(--rounded-full);

    @include hover {
      background: var(--c-background-soft);
    }
  }
</style>
