pre {
  padding: 16px 20px;
  margin-bottom: 16px;
  border-radius: var(--rounded);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

h2 {
  padding-bottom: 6px;
  margin-block: 55px 0;
  font-size: 24px;
  border-bottom: 1px solid var(--c-border);
}

h3 {
  margin-block: 30px 10px;
  font-size: 20px;
}

h4 {
  margin-block: 20px 10px;
  font-size: 18px;
}

h5,
h6 {
  font-size: 16px;
}

p {
  margin-top: 20px;
  line-height: 1.6;
  letter-spacing: 0.06em;
}

img {
  border-radius: var(--rounded-sm);
}

ul,
ol {
  display: grid;
  gap: 4px;
  padding-top: 20px;
  padding-left: 12px;
  margin-left: 20px;
}

li {
  list-style-type: disc;
}

.back-button {
  position: relative;
  display: inline-flex;
  flex-direction: column;
  justify-content: flex-start;
  width: fit-content;
  padding: 7px;
  margin-top: 30px;
  margin-left: 4%;
  border-radius: 50%;
  transition: background 0.3s ease;

  @include hover {
    background: var(--c-background-soft);
    transition: background 0.3s ease;
  }
}

.container {
  width: min(760px, 100%);
  padding-inline: 28px;
  margin-inline: auto;
}

.hero-image {
  width: 100%;
}

.hero-image img {
  display: block;
  width: 100%;
  aspect-ratio: 4 / 2.5;
  margin: 0 auto;
  object-fit: cover;
  border-radius: var(--rounded-sm);
  box-shadow: var(--box-shadow);
}

.title {
  padding: 40px 0 12px;
  font-size: 20px;
  line-height: 1.5;
}

.date {
  margin-top: 16px;
  font-size: 14px;
  font-weight: 300;
  color: var(--c-text-3);
}

.last-updated-on {
  font-style: italic;
}
