pre {
  padding: 16px 20px;
  margin-bottom: 16px;
  border-radius: var(--rounded);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

h1 {
  font-size: 26px;

  @include mq(md) {
    font-size: 30px;
  }
}

h2 {
  padding-bottom: 6px;
  margin-block: 48px 0;
  font-size: 20px;
  border-bottom: 1px solid var(--c-border);

  @include mq(md) {
    font-size: 24px;
  }
}

h3 {
  margin-block: 30px 10px;
  font-size: 18px;

  @include mq(md) {
    font-size: 20px;
  }
}

h4 {
  margin-block: 20px 10px;
  font-size: 18px;
}

h5,
h6 {
  font-size: 16px;
}

p {
  margin-block: 20px 16px;
  line-height: 1.6;
  letter-spacing: 0.06em;
}

img {
  border-radius: var(--rounded-sm);
}

.blog-content > ul,
ol {
  display: grid;
  gap: 12px;
  padding-top: 8px;
  padding-left: 12px;
  margin-left: 20px;
}

li {
  list-style-type: disc;
}

.back-button {
  position: relative;
  display: inline-flex;
  flex-direction: column;
  justify-content: flex-start;
  width: fit-content;
  padding: 7px;
  margin-bottom: 40px;
  border-radius: 50%;
  transition: background 0.3s ease;

  @include hover {
    background: var(--c-background-soft);
    transition: background 0.3s ease;
  }

  @include mq(md) {
    margin-bottom: 56px;
  }
}

.container {
  width: min(1100px, 100%);
  padding-inline: 28px;
  margin-inline: auto;
}

.hero-image {
  width: 100%;
}

.hero-image img {
  display: block;
  aspect-ratio: 4 / 2;
  margin-inline: auto;
  object-fit: cover;
  border-radius: var(--rounded-sm);
  box-shadow: var(--box-shadow);

  @include mq(lg) {
    width: min(100%, 800px);
  }
}

.title {
  padding: 40px 0 24px;
  font-size: 20px;
  line-height: 1.5;

  @include mq(lg) {
    text-align: center;
  }
}

.date {
  margin-top: 16px;
  font-size: 14px;
  font-weight: 300;
  color: var(--c-text-3);
}

.last-updated-on {
  font-style: italic;
}

.grid-layout {
  display: flex;
  gap: 50px;
  justify-content: center;
}

.table {
  display: none;

  @include mq(lg) {
    position: sticky;
    top: 24px;
    display: block;
    width: min(260px, 100%);
    min-width: 260px;
    height: fit-content;
    max-height: calc(100vh - 50px);
    padding: 20px;
    margin-top: 48px;
    border-radius: var(--rounded);
  }
}

.table li {
  list-style-type: none;
}

.table a {
  display: block;
  width: 100%;
  line-height: 1.5;
  color: var(--c-text-3);
  border-radius: var(--rounded-sm);
  transition: color 0.3s ease;

  @include hover {
    color: var(--c-text-1);
    transition: color 0.3s ease;
  }
}

.table .h2 {
  padding-block: 6px;
}

.table .h3 {
  padding-top: 5px;
}

.h2 a {
  font-size: 14px;
  font-weight: 300;
}

.h3 a {
  display: block;
  padding-left: 10px;
  font-size: 14px;
  font-weight: 300;
}
