:root {
  // layout
  --container-width: 1040px;
  --header-height: 60px;

  // border radius
  --rounded-sm: 4px;
  --rounded: 8px;
  --rounded-md: 10px;
  --rounded-lg: 12px;
  --rounded-full: 99rem;

  // font
  --font-mplus: 'M PLUS Rounded 1c', sans-serif;
  --font-notosans: 'Noto Sans JP Variable', sans-serif;

  // color
  --c-background: #fff;
  --c-background-soft: #f4f4f4;
  --c-background-header: 255 255 255;
  --c-text-1: #0f1419;
  --c-text-2: #7e8184;
  --c-primary: #1d9bf0;
  --c-primary-light: #2898e3;
  --c-primary-lighter: #3ca2e6;
  --c-primary-lightest: #7eb5da;
  --c-primary-dark: #1e40af;
  --c-primary-darker: #1e3a8a;
  --c-border: #d6e3ed;
  --c-border-light: #eff3f4;
  --c-shadow: 0 12px 32px rgb(0 0 0 / 10%), 0 2px 6px rgb(0 0 0 / 8%);
}

.dark {
  // color
  --c-background: #1b1b1f;
  --c-background-soft: #27282f;
  --c-background-header: 27, 27, 31;
  --c-text-1: #e7e9ea;
  --c-text-2: #ebebf599;
  --c-primary: #1d9bf0;
  --c-primary-light: #2898e3;
  --c-primary-lighter: #3ca2e6;
  --c-primary-lightest: #7eb5da;
  --c-primary-dark: #1e40af;
  --c-primary-darker: #1e3a8a;
  --c-border: #2e2e32;
  --c-border-light: #3a3a3e;
}

* {
  padding: 0;
  margin: 0;
}

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 100%;
  min-height: 100vh;
  font-family: var(--font-notosans);
  font-size: 16px;
  font-weight: 400;
  color: var(--c-text-1);
  word-wrap: break-word;
  overflow-wrap: break-word;
  background: var(--c-background);
  scrollbar-color: rgb(185 202 211) rgb(247 249 249);
}

main {
  padding-top: 60px;
}

a {
  color: var(--c-primary);
  text-decoration: none;
  transition:
    color 0.25s,
    opacity 0.25s;

  @include hover {
    color: var(--c-primary-light);
    text-decoration: underline;
    text-decoration-thickness: 1px;
    opacity: 1;
  }
}

li {
  list-style-type: none;
}

img {
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
}

::view-transition-old(root),
::view-transition-new(root) {
  animation-duration: 0.3s;
}

.sr-only {
  position: absolute !important;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: 0;
  overflow: hidden;

  /* IE6, IE7 - a 0 height clip, off to the bottom right of the visible 1px box */
  clip: rect(1px 1px 1px 1px);

  /* maybe deprecated but we need to support legacy browsers */
  clip: rect(1px, 1px, 1px, 1px);

  /* modern browsers, clip-path works inwards from each corner */
  clip-path: inset(50%);

  /* added line to stop words getting smushed together (as they go onto seperate lines and some screen readers do not understand line feeds as a space */
  white-space: nowrap;
  border: 0;
}
