---
import Breadcrumbs from '@/components/breadcrumbs/index.astro'
import Container from '@/components/container/index.astro'
import BaseLayout from '@/layouts/BaseLayout.astro'
---

<BaseLayout
  title="Contact"
  description="Contact page"
>
  <Container>
    <Breadcrumbs />
    <p>お問い合わせはこちらからお願いします。（制作中です）</p>
  </Container>
</BaseLayout>
