---
import BlogList from '@/components/BlogList.astro'
import Container from '@/components/Container.astro'
import BaseLayout from '@/layouts/BaseLayout.astro'
---

<BaseLayout title="">
  <Container>
    <p class="top-text">
      Webエンジニアによるテックブログです。<br
      />HTML/CSS/JavaScriptの技術情報を中心に発信していきます。
    </p>

    <BlogList />
  </Container>
</BaseLayout>

<style lang="scss">
  .top-text {
    padding-bottom: 28px;
    font-size: 16px;

    @include mq(md) {
      padding-bottom: 40px;
    }
  }
</style>
