---
import BlogList from '@/components/blog-list/index.astro'
import Container from '@/components/container/index.astro'
import TagList from '@/components/tag-list/index.astro'
import { TOP_PAGE_LIMIT } from '@/consts'
import BaseLayout from '@/layouts/base-layout/index.astro'
---

<BaseLayout description="My web developing log">
  <Container>
    <div class="space-container">
      <div class="space-list">
        <a
          class="space-link"
          href="/blog"
          >Blog</a
        >
        <p>Webの技術記事を書き溜めるスペース</p>
      </div>

      <div class="space-list">
        <a
          class="space-link"
          href="/note"
          >Note</a
        >
        <p>役立つ知識を記録するスペース</p>
      </div>

      <div class="space-list">
        <a
          class="space-link"
          href="/contact"
          >Contact</a
        >
        <p>お問い合わせはこちらから</p>
      </div>
    </div>

    <TagList />

    <BlogList limit={TOP_PAGE_LIMIT} />
  </Container>
</BaseLayout>

<style lang="scss">
  .top-text {
    padding-bottom: 28px;
    font-size: 16px;
  }

  .space-container {
    padding-bottom: 32px;
  }

  .space-list {
    display: flex;
    gap: 4px;
    align-items: center;
  }

  .space-link {
    padding: 1px 6px;
    font-size: 16px;
    font-weight: 400;
    color: var(--c-text-2);
    text-decoration: underline;
    text-decoration-color: var(--c-border);
    border-radius: var(--rounded-sm);

    @include hover {
      color: var(--c-text-1);
      background: var(--c-background-soft);
      transition:
        color 0.25s,
        background 0.25s;
    }
  }

  .space-list p {
    font-size: 12px;
    color: var(--c-text-2);
  }
</style>
