---
import Container from '@/components/Container.astro'
import BaseLayout from '@/layouts/BaseLayout.astro'
---

<BaseLayout title="">
  <Container>
    <h1>タイトルのテキストです</h1>
    <h2>H2タイトル</h2>
    <p class="text">本文のテキストです</p>
    <a href="/">Home</a>
  </Container>
</BaseLayout>

<style lang="scss">
  .text {
    width: min(100%, 300px);
    color: var(--c-text-2);
  }
</style>
