.header {
  position: sticky;
  top: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  height: var(--header-height);
  background: rgb(var(--c-background-header) / 80%);
  backdrop-filter: blur(6px);
}

.headerInner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: var(--container-width);
  margin-inline: auto;
}

.logo {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 2.125rem;
  aspect-ratio: 1;
  font-size: 0.875rem;
  font-weight: 700;
  color: #151515;
  text-decoration: none;
  background: #14b8a6;
  border-radius: var(--rounded-full);
}

.nav {
  display: none;

  @include mq(md) {
    display: block;
  }
}

.links {
  display: flex;
  align-items: center;
}

.internalLinks {
  display: flex;
  align-items: center;
}
