---
import type { HTMLAttributes } from 'astro/types'

type Props = HTMLAttributes<'a'>

const { href, class: className, ...props } = Astro.props

const { pathname } = Astro.url
const subpath = pathname.match(/[^\/]+/g)
const isActive = href === pathname || href === `/${subpath?.[0]}/`
const currentPath = href === pathname || null
---

<a
  href={href}
  aria-current={currentPath ? 'page' : null}
  class:list={['headerLink', className, { active: isActive }]}
  {...props}
>
  <slot />
</a>

<style lang="scss">
  .headerLink {
    --header-padding: 12px;

    position: relative;
    display: block;
    padding: 0 var(--header-padding);
    font-size: 14px;
    font-weight: 400;
    line-height: var(--header-height);
    color: var(--c-text-1);
    text-decoration: none;
    letter-spacing: 0.02em;
    transition: background-color 0.2s ease;

    @include hover {
      color: var(--c-text-1);
    }
  }

  .headerLink.active::after {
    position: absolute;
    bottom: 0;
    left: 50%;
    display: inline-block;
    width: calc(100% - var(--header-padding) * 2);
    height: 3px;
    content: '';
    background-color: var(--c-primary);
    border-radius: var(--rounded-lg);
    transform: translateX(-50%);
  }

  .active {
    font-weight: 600;
    color: var(--c-text-1);
  }
</style>
