---
import Container from './Container.astro'
import ExtraNavigation from './ExtraNavigation.astro'
import HeaderLink from './HeaderLink.astro'
import MenuMobile from './MenuMobile.astro'
---

<header class="header">
  <Container class="header-inner">
    <a
      href="/"
      class="logo"
    >
      <span>YH</span>
    </a>

    <nav
      class="nav"
      aria-label="グローバルナビゲーション"
    >
      <div class="links">
        <div class="internal-links">
          <HeaderLink href="/">HOME</HeaderLink>
          <HeaderLink href="/blog/">BLOG</HeaderLink>
          <HeaderLink href="/note/">NOTE</HeaderLink>
          <HeaderLink href="/contact/">CONTACT</HeaderLink>
        </div>
        <ExtraNavigation />
      </div>
    </nav>
    <MenuMobile />
  </Container>
</header>

<style lang="scss">
  .header {
    z-index: 1;
    padding: 20px 0 40px;

    @include mq(md) {
      padding: 48px 0 60px;
    }
  }

  .header-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: var(--container-width);
    margin-inline: auto;
  }

  .logo {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 34px;
    height: 34px;
    font-size: 14px;
    font-weight: 700;
    color: #151515;
    background: #b4b4b4ad;
    border-radius: var(--rounded-full);
    box-shadow: 0 0 0 2px var(--c-background-soft);
  }

  .nav {
    display: none;

    @include mq(md) {
      display: block;
    }
  }

  .links {
    display: flex;
    align-items: center;
  }

  .internal-links {
    display: flex;
    align-items: center;
  }
</style>
