---
import Logo from '@/images/logo.png'
import { Image } from 'astro:assets'
import ExtraNavigation from './ExtraNavigation.astro'
import HeaderLink from './HeaderLink.astro'
---

<header class="header">
  <div class="header-inner">
    <a
      href="/"
      class="logo"
      ><Image
        src={Logo}
        alt="logo"
        width={24}
        height={24}
        loading="eager"
        fetchpriority="high"
      /></a
    >

    <nav
      class="nav"
      aria-label="グローバルナビゲーション"
    >
      <div class="links">
        <div class="internal-links">
          <HeaderLink href="/">HOME</HeaderLink>
          <HeaderLink href="/blog/">BLOG</HeaderLink>
          <HeaderLink href="/note/">NOTE</HeaderLink>
          <HeaderLink href="/contact/">CONTACT</HeaderLink>
        </div>
        <ExtraNavigation />
      </div>
    </nav>
  </div>
</header>

<style lang="scss">
  .header {
    z-index: 1;
    padding: 0 32px;
    background: rgb(var(--c-background-header) / 85%);
    backdrop-filter: blur(12px);
    border-bottom: 1px solid var(--c-border);
  }

  .header-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: var(--container-width);
    height: var(--header-height);
    margin-inline: auto;
  }

  .logo img {
    border-radius: var(--rounded-full);
  }

  .nav {
    display: none;

    @include mq(md) {
      display: block;
    }
  }

  .links {
    display: flex;
    align-items: center;
  }

  .internal-links {
    display: flex;
    align-items: center;
  }
</style>
