---
import type { HTMLAttributes } from 'astro/types'

type Props = HTMLAttributes<'a'>

const { href, class: className, ...props } = Astro.props

const { pathname } = Astro.url
const subpath = pathname.match(/[^\/]+/g)
const isActive = href === pathname || href === `/${subpath?.[0]}/`
const currentPath = href === pathname || null
---

<a
  href={href}
  aria-current={currentPath ? 'page' : null}
  class:list={['headerLink', className, { active: isActive }]}
  {...props}
>
  <slot />
</a>

<style lang="scss">
  .headerLink {
    --header-padding: 12px;

    display: block;
    padding: 0 var(--header-padding);
    font-size: 14px;
    line-height: var(--header-height);
    color: var(--c-text-3);
    text-decoration: none;
    letter-spacing: 0.02em;
    transition: font-weight 0.25s ease;

    @include hover {
      color: var(--c-text-1);
      transition: font-weight 0.25s ease;
    }
  }

  .active {
    font-weight: 600;
    color: var(--c-text-1);
  }
</style>
