---
import Breadcrumbs from '@/components/breadcrumbs/index.astro'
import Container from '@/components/container/index.astro'
import BaseLayout from '@/layouts/base-layout/BaseLayout.astro'
---

<BaseLayout
  title="Note"
  desctiption="Space to record useful knowledge"
>
  <Container>
    <Breadcrumbs />
    <p>役立つ知識を記録するスペースです。（制作中です）</p>
  </Container>
</BaseLayout>
