.headerLink {
  --header-padding: 12px;

  display: block;
  padding: 0 var(--header-padding);
  font-size: 0.875rem;
  line-height: var(--header-height);
  color: var(--c-text-2);
  text-decoration: none;
  letter-spacing: 0.02em;
  transition: color 0.25s ease;

  @include hover {
    color: var(--c-text-1);
    transition: color 0.25s ease;
  }
}

.isActive {
  font-weight: 500;
  color: var(--c-text-1);
}
