.breadcrumbs {
  display: flex;
  align-items: center;
  padding: 0;
  padding-bottom: 24px;
  margin: 0;
  word-break: break-all;
}

.breadcrumbs a {
  font-size: 0.875rem;
  color: var(--c-text-1);
  transition: color 0.3s;
}

:where(.homepath, .subpath) {
  width: fit-content;
  list-style-type: none;
}

.homepath {
  display: inline-flex;
  align-items: center;
}

.homepathLink {
  display: inline-flex;
  align-items: center;
}

.subpath {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.subpath::before {
  margin-inline: 12px 6px;
  font-size: 0.875rem;
  content: '>';
}
