.breadcrumbs {
  display: flex;
  align-items: center;
  padding: 0;
  padding-bottom: 1.5rem;
  margin: 0;
  word-break: break-all;
}

.breadcrumbs a {
  font-size: 0.875rem;
  color: var(--c-text-1);
}

:where(.homepath, .subpath) {
  width: fit-content;
  list-style-type: none;
}

.homepath {
  display: inline-flex;
  align-items: center;
}

.homepathLink {
  display: inline-flex;
  align-items: center;
  padding: 0.4em;
  border-radius: var(--rounded-full);
  transition: background 0.3s;
}

.homepathLink:hover {
  background: var(--c-background-soft);
}

.subpath {
  display: flex;
  gap: 0.55em;
  padding-top: 0.3em;
  overflow: hidden;
  font-size: 0.875rem;
  color: var(--c-text-1);
  text-overflow: ellipsis;
  white-space: nowrap;
}

.subpath::before {
  padding-bottom: 0.2em;
  margin-inline: 0.25rem 0;
  font-size: 0.875rem;
  content: '>';
}
